html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body,


body {
    margin: 0;
    background-color: #efefef;
}

body,
html,
#app,
#app>div {
    height: 100%;
}

a {
    color: #ff4081;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.m-b-15 {
    margin-bottom: 15px
}